
.itinerary-details img{
    width: 100%;
}
.description{
    margin-top:40px;
}
img.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.spot-card h4{
    font-size:16px;
    line-height: 24px;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.spot-card {
    padding: 20px;
    border: solid 1px;
    margin-bottom: 20px;
}
.spots-list .spots{
    max-height: 600px;
    overflow-y: scroll;
}
.spots-list .spots ::-webkit-scrollbar {
    -webkit-appearance: none;
}
.comments img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    
}
.comment{
    margin-top:30px;
    -webkit-box-shadow: 4px 9px 18px 3px rgba(0,0,0,0.37); 
    box-shadow: 4px 9px 18px 3px rgba(0,0,0,0.37);
    padding:20px;
    border-radius:10px;
}
.itinerary-details h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    color: #3a2d51;
}
p.city {
    font-style: italic;
    color: #f7785d;
}
img.image-owner {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}
img.rating {
    width: 20px;
    height: 20px;
    border-radius: 0;
}
p.duration-details {
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: #f7785d;
    padding: 5px;
    border-radius: 19px;
    color: #fff;
    font-weight: 500;
}
h4.spots-list {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #f7785d;
}
h4.description {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3a2d51;
}