
.itinerary-details img{
    width: 100%;
}
.description{
    margin-top:40px;
}
img.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.spot-card h4{
    font-size:16px;
    line-height: 24px;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.spot-card {
    padding: 20px;
    border: solid 1px;
    margin-bottom: 20px;
}
.spots-list .spots{
    max-height: 600px;
    overflow: scroll;
}
.comments img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    
}
.comment{
    margin-top:30px;
    -webkit-box-shadow: 4px 9px 18px 3px rgba(0,0,0,0.37); 
    box-shadow: 4px 9px 18px 3px rgba(0,0,0,0.37);
    padding:20px;
    border-radius:10px;
}