.hero{
    background-image: url('https://res.cloudinary.com/drapkr7kb/image/upload/v1607861693/fotos-travel/h1-rev-slide1-bckg_piuajh.jpg');
    height: 80vh;
    background-position: center;
    text-align: center;
}
.hero h1{
    padding-top:10%;
    font-family: 'La Belle Aurore', cursive;
    text-align:center;
    font-size: 7em;
    

}
.hero .bg {
    background-image: url(https://res.cloudinary.com/drapkr7kb/image/upload/v1607864117/fotos-travel/h6-slider-graphic-1_hqistx.png);
    background-position: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}