main {
    margin-top: 50px;
    min-height: 100vh;
}
.avatar{
    border-radius: 50%;
    border:solid 1px;
}
section{
    padding-top: 40px;
}
img.card-img-top {
    max-height: 195px;
    min-height: 195px;
    object-fit: cover;
}
body{
    font-family: 'Poppins', sans-serif;
}
.btn-dark {
    color: #fff;
    background-color: #3a2d51;
    border-color: #3a2d51;
    border-radius: 0;
}
.btn-dark:hover {
    color: #3a2d51;
    background-color:#fff;
    border-color: #3a2d51;
}
.card-title.h5 {
    color: #fff;
    position: absolute;
    top: 161px;
    padding-left: 21px;
    line-height: 37px;
    font-size: 1em;
    width: 100%;
    height: 37px;
    font-style: italic;
    text-transform: uppercase;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(247,253,254,0) 100%);
}
p.duration.card-text {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #f7785d;
    padding: 5px;
    border-radius: 19px;
    color: #fff;
    font-weight: 500;
}
.image-card{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    margin-bottom: 30px;
    box-shadow: 4px 3px 10px 3px rgba(0,0,0,0.30);
    border-radius: 0.50rem;
}
a.link-card {
    color: #19191a;
}
a.link-card:hover {
    text-decoration:none;
}
h4.description {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3a2d51;
}
.auth {
    margin-top: 80px;
}
a:hover {
    color: #f7785d;
    text-decoration: underline;
}
p.footer {
    background-color: #3a2d51;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

input.location-search-input.places-input {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}